.tab-content {
    color: black;
    font-family: inherit;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.4;
}

h3 {
    color: #ffffff;
    font-weight: 700;
    font-family: inherit;
    font-size: 24px;
    margin-bottom: 10px;
}