.App {
  text-align: center;
}

.navbar {
  display: flex;
  align-items: center;
  background: var(--purple);
  color: white;
  font-family: Helvetica;
  font-weight: 300;
}

.navbar-item {
  padding: 16px 8px;
  cursor: pointer;
  vertical-align: middle;
}

.container {
  padding: 10px;
}
